<!DOCTYPE html>
<html>
    <head>
        <title>Chestionar</title>
    </head>
    <body>
        <h1 style="text-align: center;" id="res">Rezultat: <%= number%> / <%= total%></h1>
        <nav>
            <a href="/">Acasă</a><br>
            <a href="/autentificare">Autentificare</a><br>
            <a href="/chestionar">Chestionar</a>
        </nav>
    </body>
</html>